<nav>
    <div class="site-title">
  <a href="/"><h1>CI Blog</h1></a>
  <p>A Blog for Cochlear Implant Users</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/blogs/create">Create Blog</a></li>
    </ul>
  </nav>
