<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>

    <div class="not-found content">
OOPS, page not found. Please try again.
    </div>

<%- include("./partials/footer.ejs") %>

</body>
</html>