<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>

    <div class="about content">
      <div>
      <h2>About Us</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi teneti</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi teneti</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi teneti</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi teneti</p>
      </div>
      <div class="img-container">
<img class="family-img" alt="family" src="/family.jpg" />
      </div>
    </div>

<%- include("./partials/footer.ejs") %>

</body>
</html>