<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>

<div class="create-blog">
    <form>
        <label for="title">Blog Title </label>
        <input id="title" type="text" required >
        <label for="snip">Blog Snippet</label>
        <input id="snip" type="text" required >
        <label for="body">Blog Body</label>
        <textarea id="body" required></textarea>

        <button type="submit">Submit</button>
    </form>
</div>

<%- include("./partials/footer.ejs") %>